.body {
  margin: 0;
}

.people {
  display: flex;
  margin: auto;
  width: 500px;
  flex-wrap: wrap;
}

.person {
  margin: 15px;
  transition: 1s;
}

.person:hover {
  background: #eee;
  border-radius: 10px;

  .person__details-extra {
    display: block;
  }
}

.person__details {
  align-items: center;
}

.person__details-name {
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  color: #2f4f4f;
}

.person__details-extra {
  display: none;
  margin: 9px 0 16px;

  color: #000;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.persons__photo {
  position: relative;
  margin: auto;
  padding-bottom: 8px;
}

.person__photo-img {
  width: 200px;
  height: 200px;

  border-radius: 200px;
}

.person__photo-rank {
  display: block;
  position: absolute;
  top: 84px;
  left: 158px;
  font-family: Arial, sans-serif;
  text-align: center;

  width: 32px;
  height: 32px;
  line-height: 32px;

  color: #8b0000;
  font-size: 16px;
  background-color: #fff;
  border-radius: 16px;
}

@media (min-width: 1000px) {
  .people {
    width: 1000px;
  }
}
